.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d5d8dd;
    padding: 16px;
    width: 280px;
    height: 65px;
}

.search__input {
    display: flex;
    border: 1px solid #d5d8dd;
    border-radius: 4px;
    padding: 6px 8px;
    width: 208px;
    height: 32px;
    background: #fcfcfd;
}
.input__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #abb1ba;
}
.input__filter {
}
.input__unpin {
    border: 1px solid #d5d8dd;
    border-radius: 4px;
    padding: 6px;
    width: 32px;
    height: 32px;
}
